.chi-sono{
height: 115vh;
}

.chi-sono .div-1 h2 {
background-color: $second-color-lt;
color: $third-color-lt;
font-size: 50px;
padding: 5px 15px;
position: relative;
top: 20px;
}

.chi-sono .div-4-cs {
background-color: $third-color-lt;
text-align: center;
border: 1px solid black;
max-width: 310px;
padding-bottom: 80px;
padding-left: 6px;
padding-right: 6px;
padding-top:8px ;
clip-path: polygon(100% 0, 100% 74%, 50% 74%, 15% 90%, 25% 74%, 0 74%, 0 0);

}


.chi-sono .div-2-cs {
clip-path: polygon(100% 0, 100% 79%, 73% 79%, 81% 94%, 50% 79%, 0 79%, 0 0);
background-color: $third-color-lt;
text-align: center;
border: 1px solid black;
max-width: 310px;
padding-bottom: 55px;
padding-left: 2px;
padding-right: 2px;
padding-top:8px ;
}

.chi-sono .div-3-cs{
background-color: $third-color-lt;
text-align: center;
border: 1px solid black;
max-width: 310px;
padding-bottom: 55px;
padding-left: 2px;
padding-right: 2px;
padding-top:8px ;
clip-path: polygon(100% 0, 100% 79%, 73% 79%, 81% 94%, 50% 79%, 0 79%, 0 0);
}

.chi-sono .div-1 img {
width: 25px;
height: 25px;
position: relative;
top: 5px;
}

.bordo-nero-2{
background-color: $dark-lt;
padding-bottom:3px;
clip-path: polygon(100% 0, 100% 79%, 73% 79%, 81% 94%, 50% 79%, 0 79%, 0 0);
padding-left: 1px;
padding-right:1px;
padding-top: 1px;
}

.chi-sono .bordo-nero {
padding-top: 1px;
padding-left: 1px;
padding-right: 1px;
}


.div-7-cs{
display: none;    
}

.div-5-cs{
position: relative;
top: 40px;
}




/*dark MOBILE*/

.dark-btn:checked ~ section{
background-color: $second-color-dk;


h2{
background-color: $dark-dk;
border: 1px solid $white-dk;
color: $white-dk;
}


p{
background-color: $white-dk;
}
.numeri{
color: white;
background-color: transparent;
}

}


.dark-btn:checked~.chi-sono .div-6-cs img{
display: none;
}




















/*DESKTOP*/

@media (min-width:1061px){

.chi-sono{
height: 100vh;
}


    .chi-sono .div-1 h2 {
font-size: 40px;
position: relative;
top: 65px;
}

.chi-sono .div-1 img {
width: 20px;
height: 20px;
position: relative;
top: 5px;
}


.div-5-cs{
display: flex;
flex-direction: row;
justify-content:space-around;
align-items: center;
width: 60%;
position: relative;
top: 50px;
}
.div-6-cs,
.div-7-cs{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.chi-sono .div-7-cs img{
all: unset;
width:200px;
height:200px;    
clip-path: circle(40%);
}

.bordo-nero-cs{
display: flex;
justify-content: center;
align-items: center;
background-color: $dark-lt;
clip-path: circle(41%)
}

.dark-btn:checked~ .chi-sono .bordo-nero-cs{
display: flex;
justify-content: center;
align-items: center;
background-color: $white-dk;
clip-path: circle(41%)
}



.chi-sono .div-7-cs p{
font-size: 30px;
background-color: transparent;
}

.bordo-nero-2{
position: relative;
left: 40px;
}

.div-2-cs,
.div-3-cs,
.div-4-cs{
font-size: 12px;
}

.chi-sono .div-4-cs {
background-color: $third-color-lt;
text-align: center;
max-width: 310px;
padding-bottom: 60px;
padding-left: 6px;
padding-right: 6px;
padding-top:8px ;
clip-path: polygon(100% 0, 100% 74%, 50% 74%, 15% 90%, 25% 74%, 0 74%, 0 0);
}


.chi-sono .div-2-cs {
clip-path: polygon(100% 0, 100% 79%, 73% 79%, 81% 94%, 50% 79%, 0 79%, 0 0);
background-color: $third-color-lt;
text-align: center;
max-width: 310px;
padding-bottom: 45px;
padding-left: 2px;
padding-right: 2px;
padding-top:8px ;
}

.chi-sono .div-3-cs{
background-color: $third-color-lt;
text-align: center;
max-width: 310px;
padding-bottom: 35px;
padding-left: 2px;
padding-right: 2px;
padding-top:8px ;
clip-path: polygon(100% 0, 100% 79%, 73% 79%, 81% 94%, 50% 79%, 0 79%, 0 0);
}

.div-6-cs{
position: relative;
top: 70px;
right: 40px;
}

.bordo-nero-2{
background-color: $dark-lt;
padding-bottom:3px;
clip-path: polygon(100% 0, 100% 79%, 73% 79%, 81% 94%, 50% 79%, 0 79%, 0 0);
padding-left: 2px;
padding-right:1px;
padding-top: 2px;
padding-bottom: 4px;
}

.chi-sono .bordo-nero {
padding-top: 1px;
padding-left: 2px;
padding-right: 2px;
}

.dark-btn:checked ~ .chi-sono .div-2-cs {
clip-path: polygon(100% 0, 100% 79%, 73% 79%, 81% 94%, 50% 79%, 0 79%, 0 0);
text-align: center;
max-width: 360px;
padding-bottom: 45px;
padding-left: 2px;
padding-right: 2px;
padding-top:8px ;
}


.dark-btn:checked~.chi-sono .div-4-cs {
text-align: center;
max-width: 370px;
padding-bottom: 60px;
padding-left: 6px;
padding-right: 6px;
padding-top:8px ;
clip-path: polygon(100% 0, 100% 74%, 50% 74%, 15% 90%, 25% 74%, 0 74%, 0 0);
}


.dark-btn:checked~ .chi-sono .div-3-cs{
text-align: center;
max-width: 370px;
padding-bottom: 35px;
padding-left: 2px;
padding-right: 2px;
padding-top:8px ;
clip-path: polygon(100% 0, 100% 79%, 73% 79%, 81% 94%, 50% 79%, 0 79%, 0 0);
}

.dark-btn:checked~.chi-sono .div-7-cs p{
background-color: transparent;
color: $white-dk;
}




}