*{
margin: 0;
box-sizing: border-box;
padding: 0;
list-style-type: none;
text-decoration: none;
}


body{
font-family: 'Inter', sans-serif;
}

@font-face {
font-family: 'RamadhanAmazing';
src: url(../fonts/RamadhanAmazing-jEnDv.ttf);
}

header{
position: fixed;
box-shadow: 0px 0.5px 15px black;
width: 100%;
z-index: 10;
display: grid;
grid-template-columns: repeat(6,1fr);
}



header ul{
overflow: hidden;
grid-column: 2/6;
}

header ul a {
display: block;
text-align: center;
padding: 5px;
font-size: 20px;
}

header .logo{
float: left;
font-size: 30px;
font-family: RamadhanAmazing;
grid-column: 1/3;
display: flex;
justify-content: center;
align-items: center;
color: black;
}

header .menu {
clear: both;
max-height: 0;
transition: max-height .2s ease-out;
}

header .menu-icon {
padding: 28px 20px;
position: relative;
float: right;
grid-column: 6/7;
display: flex;
justify-content: center;
align-items: center;
}

header .menu-icon .nav-icon{
background-color: black;
display: block;
width: 25px;
height: 2px;
position: relative;
transition: background-color .2s ease-out;
}

header .menu-icon .nav-icon::after,
header .menu-icon .nav-icon::before{
background-color: black;
content: '';
height: 100%;
width: 100%;
position: absolute;
transition:background-color .2s ease-out; 
top: 5px;
}


header .menu-icon .nav-icon::after{
top: -5px;
}

header .menu-btn{
display: none;
}

header .menu-btn:checked ~  .menu{
max-height:240px;
}

header .menu-btn:checked ~ .menu-icon .nav-icon{
background-color: transparent;
}

header .menu-btn:checked ~ .menu-icon .nav-icon::before {
transform: rotate(-45deg);
top: 0;
}

header .menu-btn:checked ~ .menu-icon .nav-icon::after {
transform: rotate(45deg);
top: 0;
}

.dark-icon img,
.sun-icon img {
height: 30px;
width: 30px;
}

.dark-icon img{
height: 25px;
width: 25px;
}

.sun-btn,
.dark-btn{
display: none;
}


.sun-label,
.dark-label{
float: right;
position: fixed;
right:20vw;
padding: 5px;
top: 8px;
z-index: 20;
}

.dark-label{
margin-right: 45px;
padding: 5px;
top: 9px;
}

/*FINE MENU BASE*/

/*LIGHT MODE*/
.sun-btn:checked~header{
background-color: $first-color-lt;
}

.sun-btn:checked~header li a {
color: $dark-lt;
}



/*DARK MODE*/
.dark-btn:checked~header{
background-color: $first-color-dk;
}

.dark-btn:checked~header .logo{
color: $white-dk;
}

.dark-btn:checked ~ header .menu-icon .nav-icon::before,
.dark-btn:checked ~ header .menu-icon .nav-icon::after,
.dark-btn:checked ~ header .menu-icon .nav-icon{
background-color: $white-lt;
}

.dark-btn:checked ~ header .menu-btn:checked ~ .menu-icon .nav-icon{
background-color: transparent;
}

.dark-btn:checked~ header li a {
color: white;
}

.red{
z-index: 15;
}

.dark-btn:checked ~ .blue{
    visibility: hidden;
}



/*DESKTOP*/

@media (min-width:1061px) {

.menu li {
float: left;
}    

header{
 height: 10vh;
}

header .menu {
clear: none;
float: right;
}

header .menu-icon{
display: none;
}

header .menu{
all: unset;
}

header .logo{
display: flex;
justify-content: center;
align-items: center;
}

header .menu {
display: flex;
justify-content: center;
align-items: center;
}

header .menu li{
padding: 15px 10px ;
}

header .menu li:hover{
background-color:$white-lt;
}

.dark-btn:checked~header .menu li:hover{
background-color:$dark-dk;
}

header{
display: grid;
grid-template-columns: repeat(6,1fr) ;
}

header .logo{
    grid-column: 1/2;
}

header .menu {
    grid-column: 2/6;
}

.sun-label,
.dark-label{
float: right;
position: fixed;
right:5vw;
top: 15px;
padding: 5px;
z-index: 20;
}

.sun-label img,
.dark-label img{
height: 25px;
width: 25px;
}

.dark-label{
margin-right: 45px;
}

.red{
z-index: 15;
border-radius: 15px;
}

.blue{
border-radius: 15px;

}

.red:hover{
background-color: $dark-dk;
}

.blue:hover{
background-color: $white-lt;
}

} 

