*{
margin: 0;
box-sizing: border-box;
padding: 0;
list-style-type: none;
text-decoration: none;
}


body{
font-family: 'Inter', sans-serif;
}

@font-face {
font-family: RamadhanAmazing;
src: url(/Assets/Fonts/RamadhanAmazing-jEnDv.ttf);
}

header{
position: fixed;
box-shadow: 0px 0.5px 15px black;
width: 100%;
z-index: 10;
}

header ul{
overflow: hidden;
}

header ul a {
display: block;
}

header .logo{
float: left;
font-size: 40px;
font-family: RamadhanAmazing;

}

header .menu {
clear: both;
max-height: 0;
transition: max-height .2s ease-out;
}

header .menu-icon {
border:1px solid black  ;
padding: 28px 20px;
position: relative;
float: right;
}

header .menu-icon .nav-icon{
background-color: black;
display: block;
width: 18px;
height: 2px;
position: relative;
transition: background-color .2s ease-out;
}

header .menu-icon .nav-icon::after,
header .menu-icon .nav-icon::before{
background-color: black;
content: '';
height: 100%;
width: 100%;
position: absolute;
transition:background-color .2s ease-out; 
top: 5px;
}


header .menu-icon .nav-icon::after{
top: -5px;
}

header .menu-btn{
display: none;
}

header .menu-btn:checked ~  .menu{
max-height:240px;
}

header .menu-btn:checked ~ .menu-icon .nav-icon{
background-color: transparent;
}

header .menu-btn:checked ~ .menu-icon .nav-icon::before {
transform: rotate(-45deg);
top: 0;
}

header .menu-btn:checked ~ .menu-icon .nav-icon::after {
transform: rotate(45deg);
top: 0;
}






/*DESKTOP*/

@media (min-width:768px) {

.menu li {
float: left;
}    

header .menu {
clear: none;
float: right;
}

header .menu-icon{
display: none;
}

header .menu{
all: unset;
}

header .logo{
display: flex;
justify-content: center;
align-items: center;
}

header .menu {
display: flex;
justify-content: center;
align-items: center;
}

header .menu li{
padding: 20px 10px ;
}

header .menu li:hover{
background-color: black;
}

header{
display: grid;
grid-template-columns: repeat(6,1fr) ;
}

header .logo{
    grid-column: 1/2;
}

header .menu {
    grid-column: 2/6;
}
}

