.progetti{
height: 130vh;
}

.progetti .div-1 h2{
background-color: $second-color-lt;
color: $third-color-lt;
font-size: 50px;
padding: 7px 15px;
}

.progetti .div-1 .div-2-p{
display: flex;
flex-direction: column;
align-items: center;
}

.progetti .div-1 .div-3-p {
height: 100px;
width: 100px;
background-color:$dark-lt;
margin-bottom: 10px;
display: flex;
justify-content: center;
align-items: center;
color: $white-lt;
}

.progetti .div-1 .div-4-p{
background-color: $third-color-lt;
border: 1px solid $dark-lt;
padding: 5px 15px;
font-size: 20px;
margin-bottom: 10px;
}

.progetti .div-1 .div-5-p {
height: fit-content;
width: 200px;
background-color:$second-color-lt;
color: $white-lt;
padding: 5px 10px;
text-align: center;
margin-bottom: 5px;
}

.progetti .numeri{
top: 80px;
}











/*DARK MOBILE*/ 

.dark-btn:checked ~ .progetti .div-1 .div-2-p .div-4-p{
background-color: $third-color-dk;
color: $white-dk;
}

.dark-btn:checked ~ .progetti .div-1 .div-2-p .div-5-p{
background-color: $third-color-dk;
color: $white-dk;
}







/*DESKTOP*/

@media (min-width:1061px){
.progetti{
    height: 100vh;
}

.progetti .div-6-p{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
position: relative;
bottom: 50px;
}

.progetti .div-1 h2{
position: relative;
bottom: 30px;
font-size: 40px;
}

.progetti .div-1 .div-3-p {
height: 110px;
width: 110px;
background-color:$dark-lt;
margin-bottom: 10px;
display: flex;
justify-content: center;
align-items: center;
color: $white-lt;
}

.progetti .div-1 .div-4-p{
background-color: $third-color-lt;
border: 1px solid $dark-lt;
padding: 5px 15px;
font-size: 20px;
margin-bottom: 10px;
}

.progetti .div-1 .div-5-p {
height: fit-content;
width: 250px;
background-color:$second-color-lt;
color: $white-lt;
padding: 5px 10px;
text-align: center;
margin-bottom: 5px;
}

.progetti .numeri{
top: 0px;
}



}