
/*DARK MODE COLOR*/
$first-color-dk: #393e46;
$second-color-dk: #222831;
$third-color-dk: #575E68;
$white-dk: #ffff;
$dark-dk:#000000;



/*LIGHT MODE COLOR*/
$first-color-lt: #D6E6F2;
$second-color-lt:#303481;
$third-color-lt: #FFFF00;
$white-lt: #ffff;
$dark-lt:#000000;
